
#fotos {
    display: flex;
    gap: 100px;
}

.fotos_perfil {
    text-align: center;
    color: #b7b7b7;
    font-size: 31px;
}

.descricao {
    color:  #032D60;
}

.fotos_perfil img {
    border-radius: 12px;
}

.git{
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.insta img{
    width: 40px;
}

.descricao{
    font-size: 25px;
    
}